[project]
	description = Checking GErrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RohitMidha
[access "refs/for/refs/*"]
	read = group user/RohitMidha
	push = group user/RohitMidha
	label-Code-Review = -2..+2 group user/RohitMidha
	label-Verified = -1..+1 group user/RohitMidha
	rebase = group user/RohitMidha
	removeReviewer = group user/RohitMidha
	submit = group user/RohitMidha
[access "refs/heads/*"]
	read = group user/RohitMidha
	create = group user/RohitMidha
	push = +force group user/RohitMidha
	pushMerge = group user/RohitMidha
[access "refs/tags/*"]
	push = group user/RohitMidha
	push = +force group user/RohitMidha
